<div class="page-content">
  <div class="modal-dialog" role="document">
      <form class="modal-content" id="angularForma" [formGroup]="angularForma" (ngSubmit)="spremi()">
          <div class="modal-header p-4">
                          <h5 class="modal-title">Unos poslovnog subjekta</h5>
          </div>
          <div class="modal-body p-4">
              <div class="form-group row">
                  <div class="col-sm-6">
                      <input class="form-control form-control-line" type="text" pattern="[-+]?[0-9]*[.,]?[0-9]+" minlength="11" maxlength="11" formControlName="oib" placeholder="OIB" (keyup)="provjera(angularForma)">
                  </div>
                  <div class="col-sm-6">
                      <input class="form-control form-control-line" type="text" pattern="[-+]?[0-9]*[.,]?[0-9]+" minlength="9" maxlength="9" formControlName="mbs" placeholder="MBS" (keyup)="provjera(angularForma)">
                  </div>
              </div>
                  <div class="form-group">
                      <input class="form-control form-control-line" type="text" formControlName="nazivtvrtke" placeholder="Naziv">
                  </div>
                  <div class="form-group">
                      <input class="form-control form-control-line" type="text" formControlName="ulica" placeholder="Adresa">
                  </div>
                  <div class="form-group">
                      <input class="form-control form-control-line" type="text" formControlName="grad" placeholder="Grad">
                  </div>
                  <div class="form-group">
                      <input class="form-control form-control-line" type="email" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="E-mail">
                  </div>
          </div>
          <div class="modal-footer justify-content-between bg-primary-50">
              <div class="text-center">
                  <button class="btn btn-primary btn-rounded" [disabled]="!angularForma.valid" type="submit">Spremi</button>
              </div>
          </div>
      </form>
    </div>
</div>